<h1>
  <%= gravatar_image_tag @user.email, :class => "gravatar" %>
  <%= @user.name %>
</h1>
<p id="notice"><%= notice %></p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Active:</b>
  <%= active_icon_for @user %>
</p>
<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
